/**HEADER**/
nav, header>hr {
  background: rgba(255, 255, 255, 0.8);
}

.navbar-brand {
  height: 14vh;
}

.nav-item {
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  transition: all 0.5s;
}

.nav-item:hover {
  font-size: 2.2em;
}
