/**HEADER**/
.navbar {
  background: rgba(255, 255, 255, 0.8);
}

.navbar-brand {
  height: 14vh;
}

.nav-item {
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  transition: all 0.5s;
}

.nav-item:hover {
  font-size: 2.2em;
}


/**MAIN**/
main {
  background: sandybrown;
}

@media screen and (max-width:992px) {
  main {
    margin-top: 14vh;
  }
}

h1{
  font-family: 'Bebas Neue', cursive;
  color: yellow;
  -webkit-text-stroke: 0.05em red;
  font-weight: bold;

}

h2 {
  color: yellow;
}

/**CARD BREAKPOINT**/
@media screen and (min-width:1200px) {
  .card-img {
    filter: brightness(65%);
    height: 55vh;
  }
}

@media screen and (max-width:1200px) {
  .card-img {
    filter: brightness(65%);
    height: 61vh;
  }
}

  @media screen and (max-width:992px) {
    .card-img {
      height: 410px;
    }
  }

  @media screen and (max-width:768px) {
    .card-img {
      height: 45vh;
    }
  }

  /**CAROUSEL**/
  .carousel-caption {
    text-shadow: 1px 1px 10px darkblue;
  }

  /**FOOTER**/

.foot-link:hover {
  text-decoration: none;
}

